<div class="blog-card">
  {{ $imgSrc := "" }}
  {{ if .Params.featured_image }}
    {{ $res := .Resources.GetMatch .Params.featured_image }}
    {{ if $res }}
      {{ $imgSrc = $res.RelPermalink }}
    {{ else if hasPrefix .Params.featured_image "/" }}
      {{ $imgSrc = .Params.featured_image }}
    {{ else }}
      {{ $imgSrc = printf "%s%s" .RelPermalink .Params.featured_image }}
    {{ end }}
  {{ end }}
  {{ if $imgSrc }}
  <div class="blog-card-img-wrapper">
    <a href="{{ .RelPermalink }}">
      <img src="{{ $imgSrc }}" alt="{{ .Title }}" class="blog-card-img" loading="lazy" />
    </a>
  </div>
  {{ end }}
  <div class="blog-card-body">
    <div class="blog-card-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
      <div class="blog-card-categories">
        {{ range .Params.categories }}
        <a href="/categories/{{ . | urlize }}/" class="category-pill">{{ . }}</a>
        {{ end }}
      </div>
    </div>
    <h3 class="blog-card-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <div class="blog-card-excerpt">
      <a href="{{ .RelPermalink }}" class="blog-card-excerpt-link">
        <p class="blog-card-excerpt-text">{{ .Summary | plainify | truncate 200 "..." }}</p>
      </a>
    </div>
  </div>
</div>
